.jumbotron{
    background-color: rgb(255, 153, 0);
    color: black;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 153, 0);
    margin-top: 5px;
    margin-bottom: 0px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reversa{
    width: 100%;
    border-radius: 0px;
    
}

.tab-content{
    padding-top: 10px;
}