$orange: #ff9900;
$red: red;
$green: green;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $orange;
    color: black;
    @include margenes(50px, 4px)
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: $orange;
    @include margenes(10px, 0)
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0)
}

.btn-reversa{
    width: 100%;
    border-radius: 0px;
    
}

.tab-content{
    padding-top: 10px;
}