.jumbotron {
  background-color: #ff9900;
  color: black;
  margin-top: 50px;
  margin-bottom: 4px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ff9900;
  margin-top: 10px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reversa {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
