@orange: #ff9900;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @orange;
    color: black;
    .margenes(50px, 4px); }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @orange;
    .margenes(10px, 0px); }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reversa {
    width: 100%;
    border-radius: 0px; }
  
  .tab-content {
    padding-top: 10px; }
  